
<div class="pt-5 row">
    <div class="col-md-3"> </div>
    
    <div class="col col-sm-4"><br>
        <div class="card mb-3">
            <div class="card-header">
                Bar Chart
            </div>
            <div class="card-body">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
            </div>
        </div>
    </div>
    <div class="col col-sm-4"><br>
        <div class="card mb-3">
            <div class="card-header">
                Doughnut Chart
            </div>
            <div class="card-body">
                <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                Radar Chart
            </div>
            <div class="card-body">
                <canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                Pie Chart
            </div>
            <div class="card-body">
                <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>