<div class="row">
   <div class="col-md-2">

   </div>
   <div class="col-md-10">
        <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
        <div class="row">
            <div class="col-md-12">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let slider of sliders">
                        <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                        <div class=" text-center carousel-caption">
                            <h3>{{slider.label}}</h3>
                            <p>{{slider.text}}</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
   
    <hr>
        <div class="p-5 card-body">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Feyex 3345</h4>
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Are you thinking about starting a blog? If so, there are some key questions you should ask yourself about the content and consistency of your posts.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Nat456</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Check out examples of these successful personal blogs and learn from them ... Take a look at the following list of successful blogs and make sure you .... I've been following her blog for the last two years – I particularly like her.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">New world</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Things we like to see when looking for showcase-worthy customizations are with good traffic, beautiful design, well-written articles or ...</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Alugbin454</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Amazing tool for article creation, high-quality content from scratch. Subscribe & Save Packages. Saves Your Money. Pay per Use Packages. Time is Valuable. Services: Create Article, Rewrite Article, Generate Title, Summarize Article!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Hazard!!</h4>
                        </div>
                        <div class="timeline-body">
                            <p>It can happen, you know. One day, you're enthralled with a new idea for a post, so you whip it up and publish it to your blog, sure it's going to ....</p>
                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Miuse</h4>
                        </div>
                        <div class="timeline-body">
                            <p>It can happen, you know. One day, you're enthralled with a new idea for a post, so you whip it up and publish it to your blog, sure it's going to ...</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Aserty09</h4>
                        </div>
                        <div class="timeline-body">
                            <p>There are plenty of choices which look good and are still easy to read but without ...</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>